<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNtkB0Q9EUQ4YI7EhynCYlKKJ_0-XgHdw</string>
	<key>GCM_SENDER_ID</key>
	<string>510284051462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accentChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatify-faad3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-faad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510284051462:ios:5df89665a4287521523f87</string>
</dict>
</plist>